.background {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgb(10,93,66);
    background: linear-gradient(90deg, rgba(10,93,66,1) 41%, rgba(0,212,255,1) 98%);
}

tr {
    color: antiquewhite;
}

td{
    color: antiquewhite;
}

thead {
    color: antiquewhite;
}

tbody {
    color: antiquewhite;
}

/* Other page styling */
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: antiquewhite;
}

label {
    color: antiquewhite;
}

.invalid-feedback {
    color: rgba(255, 0, 0, 0.978);
    font-style: italic;
    font-size: large;

}
